<h1>Factory developer site</h1>

<h2>Factory overview</h2>

<p>Welcome to Joshfire factory developer site!</p>

<p>The factory focuses on <strong>easy cross-device "content-based" application packaging and deployment</strong>. Factory users benefit from template developers to create Web applications without having to worry about coding and adapting the experience to multiple devices. Using the factory does not require any specific coding skills. The factory targets the public at large. In turn, the factory allows developers to sell templates and services.</p>

<p>Through the factory, users:</p>
<ol>
  <li>select <strong>datasources</strong> that they wish to expose (RSS feeds, pictures, videos, Twitter feeds, etc.);</li>
  <li>apply <strong>templates</strong> that control the visual layout and functionalities of the Web application;</li>
  <li>install <strong>optional plugins</strong> to add extended features;</li>
  <li><strong>package and deploy</strong> resulting Web applications.</li>
</ol>

<p>Template developers:</p>
<ol>
  <li>create templates that address specific user scenarios;</li>
  <li>publish templates on the factory for users;</li>
  <li>sell templates, support or services based on the templates they create.</li>
</ol>

<p>This site targets templates developers. The documentation assumes that the reader has basic skills in usual Web acronyms such as HTML, CSS, JavaScript, JSON.</p>

<h2>Quick links</h2>

<ul class="simple">
  <li><a href="/doc/">Documentation</a></li>
  <li><a href="/doc/dev/gettingstarted/intro">Getting started</a></li>
</ul>

<ul class="simple">
  <li><a href="/doc/dev/faq/">FAQ</a></li>
  <li><a href="/support">Support</a></li>
</ul>