<h1>Support</h1>

<h2>FAQ</h2>
<p>Don't forget check out our <a href="/doc/latest/faq/">Frequently Asked Questions</a>, your answer may already be in there!</p>

<h2>Mailing List</h2>
<p><a href="https://groups.google.com/group/joshfire-dev">Joshfire-dev</a> is where users and core developers come to announce projects, seek help, and discuss all kind of matters surrounding Joshfire.</p>

<h2>IRC</h2>
<p>Go to <a href="irc://irc.freenode.net/joshfire">#joshfire</a> to discuss in realtime with other users and core developers.</p>