<h1>Joshfire Factory documentation</h1>

<p>Welcome to Joshfire factory documentation site!</p>
<p>This documentation targets users of theFactory who want to create app using the website. It also targets template and datasource developers.</p>

<h2>Factory overview</h2>

<p>The factory focuses on <strong>easy cross-device "content-based" application packaging and deployment</strong>. Factory users benefit from template developers to create Web applications without having to worry about coding and adapting the experience to multiple devices. Using the factory does not require any specific coding skills. The factory targets the public at large. In turn, the factory allows developers to sell templates, content and services.</p>

<p>Through the factory, users:</p>
<ol>
  <li>select <strong>datasources</strong> that they wish to expose (RSS feeds, pictures, videos, Twitter feeds, etc.);</li>
  <li>apply <strong>templates</strong> that control the visual layout and functionalities of the Web application;</li>
  <li>install <strong>optional plugins</strong> to add extended features;</li>
  <li><strong>package and deploy</strong> resulting Web applications.</li>
</ol>

<p>Template developers:</p>
<ol>
  <li>create templates that address specific user scenarios;</li>
  <li>publish templates on the factory for users;</li>
  <li>sell templates, support or services based on the templates they create.</li>
</ol>

<p>Datasource developers:</p>
<ol>
  <li>integrate with a Web service API;</li>
  <li>expose normalized content to templates;</li>
  <li>sell content, content access or services based on the content they expose.</li>
</ol>

<p>The develper documentation assumes that the reader has basic skills in usual Web acronyms such as HTML, CSS, JavaScript, JSON. In particular, all developments are done using JavaScript. Preliminary experience with JavaScript is strongly recommended.</p>

<h2>Quick links</h2>

<ul class="simple">
  <li><a href="/doc/">Documentation</a></li>
  <li><a href="/doc/dev/develop/intro">Getting started with template development</a></li>
  <li><a href="/doc/dev/datasources/intro">Getting started with datasource development</a></li>
</ul>

<ul class="simple">
  <li><a href="/doc/dev/faq/">FAQ</a></li>
  <li><a href="/support">Support</a></li>
</ul>